.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    
    
}

.image-container {
    position: relative;
    cursor: grab;
    
}

.gallery img {
    width: 95%;
    height: auto;
    
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #84123F;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.image-container:hover .overlay {
    opacity: 1;
}